#home {
	background: url(../images/bg.jpg) 50% 0 repeat fixed; 
	min-height: 1000px;
	height: 1600px; 
  margin: 0 0; 
 	width: 100%; 
  max-width: 1600px; 
  position: relative;
  padding: 0;
}

#description {
  padding-top: 5%;
}

.main { 
  font-family:'Raleway', sans-serif;
  color: white;
  position: absolute;
  top: 3.5%;
  text-align: center; 
  width: 100%; 
  font-size: 7em;
}

.small-text {
  padding-top: 7%;
  color: white;
}

.icon {
  transition: all .1s ease-in-out; 
}

.icon:hover {
  transform: scale(1.10);
}
