#home {
	background: url(../images/bg.jpg) 50% 0 repeat fixed; 
	min-height: 1000px;
	height: 1500px; 
  margin: 0 0; 
 	width: 100%; 
  max-width: 1500px; 
  position: relative;
}

#description {
  top: 250px;
}

.title { 
  height: 458px; 
  font-family:'Raleway', sans-serif;
  font-size: 95px;
  color: white;
  position: absolute; 
  text-align: center; 
  top: 60px; 
  width: 100%; 
  white-space: nowrap;
}

.small-text {
  color: white;
  padding: 50px;
}

.icon {
  height: 175px;
  width: 175px;
  float: right;
}

